#lobby{
    width: 1000px;
    margin: 0 auto;

}
#lobby ul.game-list {
    font-size: 0;
    text-align: center;
}
#lobby ul.game-list li:hover{top:-5px}
#lobby ul.game-list li {
    position: relative;
    top: 0;
    width: 421px;
    height: 312px;
    margin: 15px;
	display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center top;
	cursor:pointer;
}
#lobby ul.game-list li[game-box="yccp"] {
    background-image: url(images/yccp.png);
}
#lobby ul.game-list li[game-box="ycgc"] {
    background-image: url(images/ycgc.png);
}
#lobby ul.game-list li[game-box="egcp"] {
    background-image: url(images/egcp.png);
}
#lobby ul.game-list li[game-box="bbin"] {
    background-image: url(images/bbin.png);
}

.lottery{
	margin:0 auto;
}